pre{
    border: 1px solid #333;
    background: #333;
    color: #fff;
    padding-bottom: auto;
}

article .content h2:before, body h1, body .h1, #header-post #toc nav > ul > li:before, #header-post #nav ul a, #header-post .active, #header #nav ul a, article .content blockquote, article .content blockquote:before, #header-post #toc nav > ul > li > ul > li:before{
    color: #000;
}

figcaption{
    text-align: center;
}


.project-title{
    font-weight: bold;
}

figure{
    margin: 0px;
}